<tag-input [ngModel]="Users" 
#input [placeholder]="PlaceHolder" 
[onTextChangeDebounce]="500"
[secondaryPlaceholder]="PlaceHolder" [onlyFromAutocomplete]="true" 
(onAdd)="onItemAdded($event)" (onRemove)="onItemRemove($event)" minimumTextLength="3" [maxItems]="LimitItems" >
    <template let-item="item" let-index="index">
    <span>
      <profile-pic [UserId]="(item.value.Id) ? item.value.Id : item.value" [ImageSize]="28"></profile-pic>
      &nbsp;&nbsp;<span class="contentnone">{{item.display}}</span>
      <a (click)="input.removeItem(item, index)" class="mdl-chip__action"><i class="material-icons">cancel</i></a>
    </span>
  </template>
    <tag-input-dropdown [autocompleteObservable]="requestAutocompleteItems">
        <template let-item="item" let-index="index">
          <profile-pic [UserId]="item.value.Id" [ImageSize]="28"></profile-pic>
          &nbsp;&nbsp;{{ item.display }}
        </template>
    </tag-input-dropdown>
</tag-input>