<div class="container-fluid">
<div class="row">
<div class="col-lg-12 body-content">
    <h1>Business Rules</h1>
    
    <div class="row">
        <div class="col-lg-6">
                <div class="whitebg mdl-shadow--2dp">
                        <table class="table ">
                                <thead>
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Roles</th>
                                    <th scope="col">Key</th>
                                    <th scope="col">Value</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td><mdl-select floating-label [(ngModel)]="color" placeholder="Role">
                                        <mdl-option value="all"><em>All</em></mdl-option>
                                        <mdl-option value="Admin"><em>Admin</em></mdl-option>
                                        <mdl-option value="Developer"><em>Developer</em></mdl-option>
                                      </mdl-select>
                                        </td>
                                    <td><mdl-textfield type="text" label="Text..." [(ngModel)]="text3" ></mdl-textfield></td>
                                    <td><mdl-textfield type="text" label="Text..." [(ngModel)]="text3" ></mdl-textfield></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td><mdl-select floating-label [(ngModel)]="color" placeholder="Role">
                                        <mdl-option value="all"><em>All</em></mdl-option>
                                        <mdl-option value="Admin"><em>Admin</em></mdl-option>
                                        <mdl-option value="Developer"><em>Developer</em></mdl-option>
                                      </mdl-select></td>
                                    <td><mdl-textfield type="text" label="Text..." [(ngModel)]="text3" ></mdl-textfield></td>
                                    <td><mdl-textfield type="text" label="Text..." [(ngModel)]="text3" ></mdl-textfield></td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td><mdl-select floating-label [(ngModel)]="color" placeholder="Role">
                                        <mdl-option value="all"><em>All</em></mdl-option>
                                        <mdl-option value="Admin"><em>Admin</em></mdl-option>
                                        <mdl-option value="Developer"><em>Developer</em></mdl-option>
                                      </mdl-select></td>
                                    <td><mdl-textfield type="text" label="Text..." [(ngModel)]="text3" ></mdl-textfield></td>
                                    <td><mdl-textfield type="text" label="Text..." [(ngModel)]="text3" ></mdl-textfield></td>
                                  </tr>
                                </tbody>
                              </table>
                    </div>
                    <div class="text-right mt-3">
                            <button class="mr-2 button-pink" mdl-button mdl-button-type="raised" mdl-ripple>
                                    Save
                                  </button>
                                  <button class="button-pink" mdl-button mdl-button-type="raised" mdl-ripple>
                                        Submit
                                      </button>
                    </div>
        </div>
        <div class="col-lg-6">
                <div class="whitebg mdl-shadow--2dp">
                        <img class="img-fluid" src="../../assets/img/amCharts.svg" />
                    </div>
        </div>
    </div>

   
</div>
</div>
</div>